@charset "UTF-8";

@media all and (min-width:400px){
    #board-title{
        height : 500px;
    }
    #container-view{
    	margin : 0px 15px;
    	width : 85%;
    }
	.board-content {
		display: flex;
		flex-direction: column;
	}
	.comment {
		display: flex;
		flex-direction: column;
	}
	.create-comment-area {
		display: flex;
	}
	.board-title h3{
	margin-top: 30px;
	margin-bottom : 10px;
	}
	.board-writer{
	margin-bottom : 10px;
	}
	.board-btn button{
	float : right;
	width: 90px;
        height: 35px;
        color: aliceblue;
        font-weight: 700;
        background-color: hwb(221 30% 2%);
        border: none;
	}
	.board-text{
	background-color:white;
	min-height : 300px;
	margin-bottom : 10px;
	
     border : 0.7px solid black;
	}
    }
    #comment-div{
     border : 0.7px solid black;
    }

    #writer{
    display: block;
    margin-top : 20px;
    
    }
    #commentText{
    display: block;
    min-height : 60px;
    margin-top : 10px;
    margin-bottom : 10px;
    }
    #date{
    display: block;
    min-height : 30px;
    }
    
    
     #comment #bnt{
     	float : right;
     	border : none;
     	padding : 5px;
     }
     
     
	.create-comment-area{
	width : 90%
	}
	.create-comment-area #contents{
	float : right;
	}
	.create-comment-area #writer{
	width:20%;
	}
	.create-comment-area #commentBtn{
	width : 20%;
	float : right;
	}
	

@media all and (min-width:920px){
	#container{
    display : grid;
    grid-template-columns: 0.35fr 1fr;
    }
         .comment #bnt{
     	float : right;
     	color : red;
     	border : none;
     	padding : 5px;
     }
}

@media all and (min-width:1100px){

}
