@charset "UTF-8";

@media all and (min-width:400px) {

	#board-list {
		margin: 50px 15px;
	}
	#board-box {
		margin-top: 40px;
	}
	#board-box li {
		padding: 5px;
		align-items: center;
	}
	#board-sub-div {
		display: flex;
		flex-direction: column;
		margin-top : 10px;
		background-color: rgb(240, 240, 240);
	}
	#board-list-area {
		display: flex;
		flex-direction: column;
	}
	#board-sub-ul {
		display: grid;
		grid-template-columns: 3fr 1fr 1fr;
		height: 50px;
		text-align: center;
		border: 0.5px solid rgb(240, 240, 240);
	}
	#board-title a{
	color : black;
	}
	#board-title a:visited {
    color: inherit;
	}
	#board-title{
	padding-left :60px;
		text-align : left;
		
	}

	#write-bnt {
		float: right;
		width: 80px;
		height: 28px;
		color: #94358c;
		font-weight: 700;
		background-color: white;
		border: 1.5px solid #94358c;
		border-radius: 10px;
	}
	#board-sub-ul {
  		display: grid;
  		align-items: center;
  		justify-content: center;
  		
	}
		#board-nums, #board-date {
		display: none;
	}
	.list-num{
		display :flex;
		align-items :center;
		justify-content: center;
		gap: 20px;
		margin-top : 20px;
	}
	.next-btn svg{
	color : #94358c;
	margin-top : 3px;
	}
	.list-numA{
	color : black;
	font-size : 20px;
	}

}

@media all and (min-width:920px) {
	#board-list{
		width : 90%;
	}
	#container {
		display: grid;
		grid-template-columns: 0.35fr 1fr;
	}
	#board-sub-ul {
		display: grid;
		grid-template-columns: 0.5fr 3fr 0.8fr 0.8fr 0.5fr;
		text-align: center;
		border: 0.5px solid rgb(240, 240, 240);
	}
	#board-nums, #board-date {
		display: grid;
	}
}