@charset "UTF-8";

@media all and (min-width:400px) {
	#board-list h2 {
		margin-top: 30px;
	}
	#board-list {
		margin: 0 15px;
	}
	#board-box {
		border: 2px solid rgb(240, 240, 240);
		margin-top: 30px;
	}
	#board-box li {
		padding: 5px;
		align-items: center;
	}
	#board-sub-div {
		display: flex;
		flex-direction: column;
		background-color: rgb(240, 240, 240);
	}
	#board-list-area {
		display: flex;
		flex-direction: column;
	}
	#board-sub-ul {
		display: grid;
		grid-template-columns: 3fr 1fr 1fr;
		height: 40px;
		text-align: center;
		border: 0.1px solid rgb(240, 240, 240);
	}
	#board-sub-ul #title {
		text-align: left;
	}

	#write-bnt {
		float: right;
		width: 80px;
		height: 35px;
		color: aliceblue;
		font-weight: 700;
		margin-top: 20px;
		background-color: hwb(221 30% 2%);
		border: none;
		margin-bottom: 30px;
	}
	#board-sub-ul {
  		display: grid;
  		align-items: center;
  		justify-content: center;
  		
	}
		#board-nums, #board-date {
		display: none;
	}
	
}

@media all and (min-width:920px) {
	#board-list{
		width : 90%;
	}
	#container {
		display: grid;
		grid-template-columns: 0.35fr 1fr;
	}
	#board-sub-ul {
		display: grid;
		grid-template-columns: 0.5fr 3fr 0.8fr 0.8fr 0.5fr;
		text-align: center;
		border: 0.1px solid rgb(240, 240, 240);
	}
	#board-nums, #board-date {
		display: grid;
	}
}