@charset "UTF-8";


/*공통*/
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }
   
#delete-section{
  margin: 0 auto;	
}   

.delete_text {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color:#94358c; 
}
   
.delete{
    text-align: center;
    margin-bottom:50px ;
    
}

#delete{
	min-width: 400px;
	width: 60vw;
	margin: 0 auto;
}
   
.square {
    width: 70%;
	margin: 5px;
	padding:15px;
    border:1px solid lightgray;
    color: #666666;
    font-size:12px;
    vertical-align:top;
    border-radius:4px;
    box-sizing:content-box;
   
}

.back{
	font-size:0.9rem;
	color:rgb(85, 85, 85); 

}



#delete-btn{
 width: 70%;
    margin-top: 50px;
	padding: 15px;
	color: white;
	border: none;
	border-radius: 4px;
	background: linear-gradient(25deg, #0c0074, #490e7c, #702184, #94358c);
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.error{
    display: none;
	color:red;
	font-size: 0.8em;
	margin-top: 10px;
}