@charset "UTF-8";


/*공통*/
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }
   
#delete-section{
  margin: 0 auto;	
}   

.delete_text {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color:#94358c; 
}
   
.delete{
    text-align: center;
    margin-bottom:50px ;
    
}

#delete{
	min-width: 400px;
	width: 60vw;
	margin: 0 auto;
}
   
.square {
    width: 60%;
	margin: 10px;
	padding:15px;
    border:1px solid lightgray;
    color: #666666;
    font-size:12px;
    vertical-align:top;
    border-radius:4px;
    box-sizing:content-box;
   
}


/*탈퇴 버튼*/
#delete-btn{
  width: 55%;
    margin-top: 50px;
	padding: 15px;
	color: white;
	border: none;
	border-radius: 10px;
	background: linear-gradient(25deg, #0c0074, #490e7c, #702184, #94358c);
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 20px;
}

/*마이페이지로 가기*/
.back_box{
    margin-bottom: 30px;
	margin-top:30px ;
	display: flex;
	justify-content: center;
	
}
.back{
	padding: 10px 30px;
	font-size: 0.9rem;
	font-weight: bold;
    line-height: 30px;
	color:black; 
	border: 1px solid gainsboro;
    border-radius: 30px;
    text-align: center;
}


.back:hover{
color: white;
background-color:#94358c ;	
}

.error{
    display: none;
	color:red;
	font-size: 0.8em;
	margin-top: 10px;
}