@charset "UTF-8";
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }

#find-section{
    margin: 0 auto;
   
    }


.text_box{
text-align: center;	
}
.find_text{
    margin-top: 70px;
    font-size: 1.7rem;
    color:#94358c;
    
}

.comment{
margin-top:20px ;	
margin-bottom: 20px;
font-weight: bold;
font-size: 1.2rem;
}

#find{
	width: 100%;
	margin: 0 auto;
}


.square {
    width:40%;
	margin: 5px;
	padding: 15px;
    border:1px solid lightgray;
    color: #666666;
    font-size:12px;
    vertical-align:top;
    border-radius:4px;
    box-sizing:content-box;
      
}


.title{
font-weight: bold;
}

.form_box{
width: 100%;
}
.email_box{
width: 100%;
padding: 0 10px;
}

	

.email_send_box{
margin-top: 10px;
margin-bottom: 20px;
margin-left: 36px;
display: flex;
justify-content: center;
    align-items: center;
	

}

.email_num_box{
margin-top: 10px;
margin-bottom: 20px;
display: flex;
justify-content: center;
    align-items: center;
	
}

.pwd2_box{
width: 100%;
margin-top: 10px;
margin-bottom: 20px;
display: flex;
flex-direction: column;
align-items: center;

}

.pwd3_box{
width: 100%;
margin-top: 10px;
margin-bottom: 20px;
display: flex;
flex-direction: column;
 align-items: center;
}

.err{
font-size: 0.8rem;
}

.btn_box{
display: flex;
justify-content: center;	
}

/*이메일 버튼*/
#email_ch{
	width: 10%;
	height: 30px;
	padding: 0;
	margin-left: 10px;
	background-color: white;
	color:#94358c;
	border: 1px solid #94358c;
    cursor: pointer;
    
}
#code_ch{
	width: 10%;
	height: 30px;
	padding: 0;
	margin-left: 10px;
	background-color: white;
	color:#94358c;
	border: 1px solid #94358c; 
	border-radius:4px ;
    cursor: pointer;
}


#find-btn{
	width: 40%;
    margin-top:30px;
    margin-bottom: 30px;
	padding: 15px;
	color: white;
	border: none;
	border-radius:4px;
	background:linear-gradient(25deg, #0c0074, #490e7c, #702184, #94358c) ;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;

}


