@charset "UTF-8";
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }

#find-section{
    margin: 0 auto;
   
    }


.text_box{
text-align: center;	
margin-top: 40px;
margin-bottom:20px ;
}

.find_text{
    margin-top: 70px;
    font-size: 1.7rem;
    color:#94358c;
}

.comment{
margin-top:20px ;	
margin-bottom: 20px;
font-weight: bold;
font-size: 1.2rem;
}

#find{
	display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding:30px 10px;
}


.square {
    width:100%;
	margin: 5px;
	padding: 15px;
    border:1px solid lightgray;
    color: #666666;
    font-size:12px;
    vertical-align:top;
    border-radius:4px;
    box-sizing:content-box;
      
}


.title{
font-weight: bold;
}


/*이메일 부분*/
.email_send_box{
margin-top: 10px;
margin-bottom: 20px;
display: flex;
align-items: center;
	
}

input[name="user_email"]{
padding-right: 200px;

}

.email-num-box{
	margin-top:20px ;
}
.email_num_box{
margin-top: 10px;
margin-bottom: 20px;
display: flex;
align-items: center;
	
}
input[name="code"]{
padding-right: 200px;


}

.pwd2_box{
margin-top: 10px;
margin-bottom: 20px;
display: flex;
align-items: center;

}

.pwd3_box{
margin-top: 10px;
margin-bottom: 20px;
display: flex;
 align-items: center;
}

.err{
font-size: 0.8rem;
}

.btn_box{
display: flex;
justify-content: center;
margin-top: 30px;
margin-bottom: 60px;	
}

/*이메일 버튼*/
#email_ch{
	width: 100%;
	height: 30px;
	padding: 0;
	margin-left: 10px;
	background-color: white;
	color:#94358c;
	border: 1px solid #94358c;
    cursor: pointer;
    
}
#code_ch{
	width: 100%;
	height: 30px;
	padding: 0;
	margin-left: 10px;
	background-color: white;
	color:#94358c;
	border: 1px solid #94358c; 
	border-radius:4px ;
    cursor: pointer;
}


#find-btn{
	width: 90%;
    margin-top:30px;
    margin-bottom: 30px;
	padding: 15px;
	color: white;
	border: none;
	border-radius:4px;
	background:linear-gradient(25deg, #0c0074, #490e7c, #702184, #94358c) ;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;

}
/*유효성 문구*/
.err-box{
	margin-bottom: 30px;
}

.error{
    display: none;
	color:red;
	font-size: 0.8em;
}

