@charset "UTF-8";

@media all and (min-width:400px) {
	.header_body {
		overflow: hidden;
		border-bottom: 1px solid gray;
	}
	.hambuger {
		display: flex;
		margin-left: 40px;
		margin-top: 3px;
		overflow: none;
		padding-top: 10px;
	}
	header {
		height: 72px;
		display: flex;
		justify-content: space-between;
	}
	header a {
		color: black;
		font-weight: 700;
	}
	header a:hover {
		color: #94358c;
	}
	.user {
		padding: 0px;
		display: flex;
	}
	.logo {
		padding-left: -10px;
		display: flex;
	}
	.top-left {
		display: flex;
		gap: 20px;
		width: 20%;
	}
	.top-right {
		margin-right: 20px;
		display: flex;
	}
	.logo svg {
		width: 28px;
		height: 28px;
		margin-top: 3px;
		margin-left: 8px;
	}
	.logo h1 {
		color: #94358c;
	}
	.board {
		display: none;
		gap: 20px;
	}
	.search {
		display: none;
	}
	.user {
		padding-top: 10px;
		display: flex;
	}
	header_body a {
		text-decoration: none;
		color: #94358c;
	}
	.mobile_btn {
		position: absolute;
		top: 70px;
		left: 15px;
	}
	input[id="hamburger"] {
		display: none;
	}
	input[id="hamburger"]+label {
		display: block;
		margin-top: 5px;
		width: 30px;
		height: 25px;
		position: relative;
		cursor: pointer;
	}
	input[id="hamburger"]+label span {
		display: block;
		position: absolute;
		width: 100%;
		height: 5px;
		border-radius: 30px;
		background: #94358c;
		transition: all 0.35s;
	}
	input[id="hamburger"]+label span:nth-child(1) {
		top: 0;
	}
	input[id="hamburger"]+label span:nth-child(2) {
		top: 50%;
		transform: translateY(-50%);
	}
	input[id="hamburger"]+label span:nth-child(3) {
		bottom: 0;
	}
	input[id="hamburger"]:checked+label {
		z-index: 99;
	}
	input[id="hamburger"]:checked+label span {
		background: #94358c;
	}
	input[id="hamburger"]:checked+label span:nth-child(1) {
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
	}
	input[id="hamburger"]:checked+label span:nth-child(2) {
		opacity: 0;
	}
	input[id="hamburger"]:checked+label span:nth-child(3) {
		bottom: 50%;
		transform: translateY(50%) rotate(-45deg);
	}
	div[class="sidebar"] {
		width: 100%;
		height: 100%;
		background: white;
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 98;
		transition: all 0.35s;
	}
	input[id="hamburger"]:checked+label+div {
		left: 0;
	}
	.nav_mobile {
		position: absolute;
		top: 119px;
		width: 100%;
	}
	.sidebar .nav_mobile li {
		color: #94358c;
		position: relative;
		float: left;
		width: 100%;
		list-style-type: none;
		font-size: 20px;
		border-bottom: 1px solid #ccc;
		font-family: 'Noto Sans KR';
		font-weight: bold;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}
	.sidebar a {
		padding: 0;
		text-decoration: none;
		display: block;
	}
	.sidebar li a {
		display: block;
		font-weight: bold;
		line-height: 40px;
		margin: 0px;
		padding: 0;
		text-align: center;
		text-decoration: none;
		transition: all 0.4s;
	}
	.sidebar li a:hover, .sidebar ul li:hover a {
		text-decoration: none;
		color: #eee;
		padding: 0;
		margin: 0;
		border: 0px;
	}
	.top-left {
		margin-top: 15px;
		width: 120px;
	}
	.board {
		margin-top: 0px;
	}
	.top-right a {
		margin-top: 15px;
	}
	.menu3 {
		display: none;
		position: absolute;
		z-index: 1;
		right: 0;
	}
	a:hover+.menu3, .menu3:hover {
		display: grid;
		grid-template-rows: 1fr;
		margin-top: 10px; 
		border : 0.7px solid #94358c; 
		background-color : white;
		gap: 10px;
		width: 120px;
		margin-top: 60px;
		margin-right: 0px;
		right: 0;
		border: 0.7px solid #94358c;
		background-color: white;
	}
}

@media all and (min-width:600px) {
}

@media all and (min-width:968px) {
	.hambuger {
		display: none;
	}
	.top-left {
		width: 60%;
		margin-left: 20px;
	}
	.header_body .logo {
		margin-left: 40px;
	}
	.board {
		padding-top: 10px;
		display: flex;
		gap: 30px;
	}
	.top-right {
		width: 45%;
		margin-left: 0px;
		flex-direction: row-reverse;
		gap: 20px;
	}
	.search {
		display: flex;
		margin-top: 20px;
		height: 30px;
		width: 60%;
	}
	.search svg {
		width: 25px;
		height: 25px;
		margin-top: 2px;
		margin-right: 5px;
	}
	header #text {
		border-radius: 10px;
		background-color: rgb(219, 225, 230);
		border: none;
	}
	.menu1 {
		display: none;
		position: absolute;
		z-index: 1;
	}
	a:hover+.menu1, .menu1:hover {
		display: grid;
		grid-template-rows: 1fr;
		gap: 10px;
		border: 0.7px solid #94358c; background-color : white;
		width: 100px;
		background-color: white;
	}
	.menu2 {
		display: none;
		position: absolute;
		z-index: 1;
	}
	a:hover+.menu2, .menu2:hover {
		display: grid;
		grid-template-rows: 1fr;
		padding-top: 10px;
		border: 0.7px solid #94358c;
		background-color: white;
		gap: 10px;
		width: 130px;
	}

	.board {
		margin-top: 0px;
	}
}

@media all and (min-width:1024px) {
}