@charset "UTF-8";

  
*{
	margin: 0;
	padding: 0;
}

section#join-section {
width: 80%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin:0 auto;

}


#join{
    margin: 0 auto;
    width: 80%;
}

.square{
    width:100%;
	margin:5px 0;
	padding:8px 5px;
    border:1px solid lightgray;
    color: #666666;
    font-size:12px;
    vertical-align:top;
    border-radius:4px;
    box-sizing:content-box;
   
}

.join_text {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.7rem;
    color: #94358c;
    
}
.title{
font-size: 0.9rem;
font-weight: bold;
}

.required{
   color: #94358c;
}

.err{
font-size: 0.8rem;
}

.error{
    display: none;
	color:red;
	font-size: 0.8em;
}

/*이메일*/
.email{
margin-top: 20px;
}

.email_box{
margin-top: 10px;
margin-bottom: 20px;
}




input[name="code"]{
	width: 60%;
}
input[name="user_email"]{
width: 60%;	
}


/*버튼*/
#user_email_dupl{
	width: 20%;
	height: 30px;
	padding: 0;
	background-color: white;
	color:#94358c;
	border: 1px solid #94358c; 
    margin-left: 10px;
    cursor: pointer;
}

#email_ch{
	width: 30%;
	height: 30px;
	padding: 0;
	margin-left: 10px;
	background-color: white;
	color:#94358c;
	border: 1px solid #94358c;
    cursor: pointer;
    
}

#code_ch{
	width: 15%;
	height: 30px;
	padding: 0;
	margin-left: 5px;
	background-color: white;
	color:#94358c;
	border: 1px solid #94358c; 
    cursor: pointer;
}


/*비밀번호*/

.pwd1{
margin-top: 20px;
}

.pwd1_box{
margin-top: 10px;
margin-bottom: 20px;
}

.pwd2_box{
margin-top: 10px;
margin-bottom: 20px;
}

/*이름*/
.name_box{
margin-top: 10px;
margin-bottom: 20px;
}

/*닉네임*/
.nickname_box{
margin-top: 10px;
margin-bottom: 20px;
}

input[name="user_nickname"]{
width: 70%;	
}

#user_nickname_dupl{
	width: 20%;
	height: 30px;
	padding: 0;
	background-color: white;
	color:#94358c;
	border: 1px solid #94358c; 
	margin-left: 10px;
	cursor: pointer;
}

/*이용약관 동의*/

.label-wrapper{
	margin-top: 10px;
	
}
input[type="checkbox"]{
	width: 5%;
	margin:5px 0;
}
.agr{
margin:10px 0;	
}

.agr_text{
font-size: 0.8rem;	
}

.term_title{
text-decoration: underline solid 1px !important;	
}

.term_title:hover{
	color:#94358c;
}


.term_title:visited{
color: inherit;	
}


/*회원가입 버튼*/
#join-btn{
    width: 100%;
    margin-top: 20px;
	padding: 15px;
	color: white;
	border: none;
	border-radius:4px;
	background: linear-gradient(25deg, #0c0074, #490e7c, #702184, #94358c);
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
}

/*뒤로가기*/

.back{
	padding: 10px 30px;
	font-size: 0.9rem;
	font-weight: bold;
    line-height: 30px;
    margin-bottom: 15px;
	margin-top:20px ;
	color:black; 
	border: 1px solid gainsboro;
    border-radius: 30px;
    text-align: center;
}

.back:hover{
color: white;
background-color:#94358c ;	
}



 @media(min-width:1024px){
	 
	 
}