@charset "UTF-8";

/*공통*/
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }

#login-section{
    margin: 0 auto;
    }
        
.login{
	margin: 0 auto;
	text-align: center;
}

.login_text {
    margin-top: 80px;
    font-size: 1.7rem;
    color:#94358c;
}

#login{
	min-width: 400px;
	width: 60vw;
	margin: 0 auto;
}

.login_1 {
  width: 100%;
  height: 290px;
  margin-top: 10px;
  margin-bottom: 20px;
  }
  
.login_box{
padding: 20px;

  }

.square {
    width: 50%;
	margin: 10px;
	padding: 15px;
    border:1px solid lightgray;
    color: #666666;
    font-size:12px;
    vertical-align:top;
    border-radius:4px;
    box-sizing:content-box;
   
}



#sub-btn{
    width: 45%;
    margin-top: 30px;
	padding: 15px;
	color: white;
	border: none;
	border-radius:10px;
	background:linear-gradient(25deg, #0c0074, #490e7c, #702184, #94358c) ;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;

}

.join{
	font-size: 1rem;
}

.join-btn{
  color: #94358c;
  font-weight: bold;
  font-size: 1rem;
}

.find{
    padding: 10px;
    margin-top: 20px;
    
}

.f-text{
	margin: 0 10px;
	font-size:1rem;
	color:rgb(85, 85, 85); 
}
.f-text:visited{
	color:inherit;
}


.login_2{
margin-top: 60px ;
margin-bottom: 50px;
}
.join{
	padding: 10px;
}

.error{
    display: none;
	color:red;
	font-size: 0.8em;
	margin-top: 10px;
}