@charset "UTF-8";
@media all and (min-width:400px) {
section{
	display: block;
	text-align: center;
}

.img-area img{
	width: 60vw; 
	height : 50vh;
	margin-top : 50px;
	text-align: center;
}

.text-area {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	font-weight : 700;
	margin-top: 25px;
	gap:10px;
}

.text-area span{
	font-size: 36px;
}

.text-area p{
	font-size: 16px;
}

.search-area {
	display: flex;
	justify-content: flex-start;
	text-align:center;
	margin : 12px auto; 
	width: 45vw;
	height: 5vh;
	border: 2px solid black;
	border-radius: 10px;
}
#search-icon svg{
	padding: 5px;
}

#search-bar-Section{
	width:100%;
	height: 100%;
}

#searchFormSection{
	width:100%;
	height: 100%;
}

#text-bar{
	width:100%;
	height: 100%;
	border: none;
	border-radius: 10px;
}

#text-bar:focus {
    outline: none;
}

.category-area{
	width: 60vw;
	height: 100px;
	margin : 25px auto;
}

.category-area > ul {
    display: flex;
    flex-wrap: wrap;
}

.category-area > ul > li {
    width: calc(33.33% - 10px);
    margin: 5px;
}

.category-area li{
	height: 100px;
	width: 70px;
	display: block;
}

.category-area a{
	height: 100%;
	width: 100%;
	display:flex;
	flex-direction: column;
    align-items: center;
    gap:12px;
    text-decoration: none;
}

.category-area .li-icon-area{
	display: inline-flex;
    width: 72px;
    height: 72px;
    align-items: center;
    justify-content: center;
    border: 1px solid #dce1e5;
    border-radius: 24px;
    transition: background-color .2s
}

.category-area a:hover{
	cursor: pointer;
	color: #94358c;
}

.category-area a:visited {
  color: inherit;
}

.category-area span{
	font-weight : 700;
}

.content-area{
	margin: 170px auto;
	height: 300px;
	font-weight : 700;
}

#populer-content{
	display: flex;
	flex-direction: column;
	gap:30px;
}

#populer-content ul{
	display: flex;
	height: 250px;
	justify-content: space-around;
}

#populer-content li{
	width: 220px;
	height: 100%;
}
}

@media all and (min-width:700px) {
	
	
	.category-area>ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.category-area li{
	height: 100px;
	width: 70px;
	display: block;
}

.content-area{
	margin: 70px auto;
}
	}


