@charset "UTF-8";


#myPage{
margin-left: 30px;	

}

.myPage-box{
margin-top: 100px;	
 margin-bottom: 200px;
display: flex;
}

.choose-box{
display: flex;
flex-direction: column;	
 box-shadow: 2px 2px 14px 0 lightgray;
 height: 200px;
}

.side{
width: 200px;
margin-top: 20px;	

}

.line{
	width: 50%;
	height: 2px;
	color: black;
}

.user_box{
margin-top: 50px;
}

/*탭메뉴*/
.container{
  width: 80%;
  margin: 0 auto;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px ;
  cursor: pointer;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}

.content-box{
	width: 500px;
	height: 200px;
	margin-left: 70px;
	
}

/*내 프로필*/
.myInfo{
padding: 50px;
 
}

/*즐겨찾기*/
.favorite{
padding: 50px;
	
}


.text{
color: #94358c;
margin-bottom: 20px;	
}

.name{
font-size: 1.2rem;
font-weight: bold;	
}

.email{
font-size: 1.2rem;
font-weight: bold;	
}

/*로그아웃 버튼*/
#btn {
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  color:#94358c;
  border: 1px solid #94358c; 
  text-align: center;
  font-size: 0.8rem;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#btn a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#btn a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#btn:hover a {
  padding-right: 25px;
}

#btn:hover a:after {
  opacity: 1;
  right: 0;
}
