@charset "UTF-8";

#myPage {
  margin-left: 30px;
}


.myPage-box {
  margin-top: 100px;
  margin-bottom: 200px;
  
}
/*닉네임 박스*/
.nickname-box {
  width: 80%;
  height: 300px;
  margin:0 auto;
  box-shadow: 2px 2px 14px 0 #94358c;   
  border: solid 1px #702184;
  border-radius: 12px;
  margin-bottom: 50px;
}

.circle {
  position: relative;
  display: block;
  width: 110px;
  height: 110px;
  border: 4px solid rgb(255, 255, 255);
  margin-left: 20px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-color: rgb(246, 246, 246);
  margin-top: 20px;
}

/*이미지*/
.p-img {
  width: 100px;
  height: 100px;
}

.myNickname{
margin-top: 20px;
margin-bottom: 20px;
}
.nickname{
	font-size: 26px;
    line-height: 28px;
    margin-left: 20px;
   
}


/*로그아웃 버튼*/
.btn {
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #94358c;
  color:#94358c ;
  text-align: center;
  font-size: 0.8rem;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }


#logout-btn{
	margin-left: 300px;
	border-radius: 21px;
	background-color: #94358c;;
	font-size: 0.8rem;
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid #94358c;
	
}

#logout-btn a{
	  cursor: pointer;
  display: inline-block;
  position: relative;
  color: white;
  transition: 0.5s;
	
}

.codic-text{
	margin-left: 20px;
margin-bottom: 30px;
}



.user_box {
  margin-top: 50px;
}

.mypage_title:visited {
  color: inherit;
}

/*탭메뉴*/
.container {
  width: 80%;
  margin: 0 auto;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-bottom: 1px solid rgb(226, 226, 226)
  
}

ul.tabs li {
  color: black;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

ul.tabs li.current {
  color: #702184;
  font-weight: bold;
  border-bottom: 3px solid #702184;
}

.tab-content {
  display: none;
  padding: 15px;
}

.tab-content.current {
  display: inherit;
}

.content-box {
  width: 500px;
  height: 200px;
  margin-left: 70px;
}

.myProfile{
	width: 60%;
	padding: 0 17px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 0 rgba(72,75,108,.08);
    border: solid 1px #e3e9ed;
    background-color: #fff;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
}

#email-text{
border-top: 1px solid lightgray;	
}

.line {
  width: 100% ;
  color: black;
  padding: 20px;
  
}

/*즐겨찾기*/
.favorite {
  padding: 50px;
}



.name {
  font-size: 1.2rem;
  font-weight: bold;
}

.email {
  font-size: 1.2rem;
  font-weight: bold;
}


#btn a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#btn:hover a {
  padding-right: 25px;
}

#btn:hover a:after {
  opacity: 1;
  right: 0;
}
