@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}

section#update-section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 50px;

}

#update{
    margin: 0 auto;
  }

.square {
    width:100%;
	margin:5px 0;
	padding:8px 5px;
    border:1px solid lightgray;
    color: #666666;
    font-size:12px;
    vertical-align:top;
    border-radius:4px;
    box-sizing:content-box;
   
}  
  
.update_text{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.7rem;
    color: #94358c;    
}

.title{
font-size: 0.9rem;
font-weight: bold;
}

.err{
font-size: 0.8rem;
}

.error{
    display: none;
	color:red;
	font-size: 0.8em;
}

.email_box{
margin-top: 10px;
margin-bottom: 20px;
}


.pwd1_box{
margin-top: 10px;
margin-bottom: 20px;
}

.pwd2_box{
margin-top: 10px;
margin-bottom: 20px;
}


.pwd3_box{
margin-top: 10px;
margin-bottom: 20px;
}
/*이름*/
.name_box{
margin-top: 10px;
margin-bottom: 20px;
}

/*닉네임*/
.nickname_box{
display: flex;
align-items: center;
margin-top: 10px;
margin-bottom: 20px;
}

input[name="user_nickname"]{
width: 70%;	
}

#user_nickname_dupl{
	width: 20%;
	height: 30px;
	padding: 0;
	background-color: white;
	color:#94358c;
	border-radius: 4px;
	border: 1px solid #94358c; 
	margin-left: 10px;
	cursor: pointer;
}



/*회원가입 버튼*/
#update-btn{
    width: 100%;
    margin-top: 20px;
	padding: 15px;
	color: white;
	border: none;
	border-radius:10px;
	background: linear-gradient(25deg, #0c0074, #490e7c, #702184, #94358c);
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;

}


/*마이페이지로 가기*/
.back_box{
    margin-bottom: 30px;
	margin-top:30px ;
	display: flex;
	justify-content: center;
	
}
.back{
	padding: 10px 30px;
	font-size: 0.9rem;
	font-weight: bold;
    line-height: 30px;
	color:black; 
	border: 1px solid gainsboro;
    border-radius: 30px;
    text-align: center;
}


.back:hover{
color: white;
background-color:#94358c ;	
}