<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>codic</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<!-- 1. 서블릿 페이지 맵핑 -->
	
	<servlet>
		<servlet-name>BoardFormAction</servlet-name>
		<servlet-class>controller.BoardFormAction</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>BoardFormAction</servlet-name>
		<url-pattern>/BoardWrite</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BoardRequest</servlet-name>
		<servlet-class>controller.BoardRequest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardRequest</servlet-name>
		<url-pattern>/BoardRead</url-pattern>
	</servlet-mapping>



	<!-- JSP 페이지 맵핑 -->

	<servlet>
		<servlet-name>Write</servlet-name>
		<jsp-file>/Write.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Write</servlet-name>
		<url-pattern>/Write</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>board</servlet-name>
		<jsp-file>/board.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>board</servlet-name>
		<url-pattern>/board</url-pattern>
	</servlet-mapping>
  
</web-app>

