<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>CODIC</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>DeleteUserFormAction</servlet-name>
		<servlet-class>controller.DeleteUserFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteUserFormAction</servlet-name>
		<url-pattern>/Leave</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>JoinFormAction</servlet-name>
		<servlet-class>controller.JoinFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JoinFormAction</servlet-name>
		<url-pattern>/Join</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginFormAction</servlet-name>
		<servlet-class>controller.LoginFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginFormAction</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutAction</servlet-name>
		<servlet-class>controller.LogoutAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogoutAction</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateUserFormAction</servlet-name>
		<servlet-class>controller.UpdateUserFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateUserFormAction</servlet-name>
		<url-pattern>/UpdateUser</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateUserRequest</servlet-name>
		<servlet-class>controller.UpdateUserRequest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateUserRequest</servlet-name>
		<url-pattern>/UpdateUserRequest</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BoardCommentFormAction</servlet-name>
		<servlet-class>controller.BoardCommentFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardCommentFormAction</servlet-name>
		<url-pattern>/BoardCommentFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BoardContentView</servlet-name>
		<servlet-class>controller.BoardContentView</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardContentView</servlet-name>
		<url-pattern>/BoardContentView</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NickNameDupl</servlet-name>
		<servlet-class>controller.NickNameDupl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>NickNameDupl</servlet-name>
		<url-pattern>/NickNameDupl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmailDupl</servlet-name>
		<servlet-class>controller.EmailDupl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EmailDupl</servlet-name>
		<url-pattern>/EmailDupl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BoardFormAction</servlet-name>
		<servlet-class>controller.BoardFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardFormAction</servlet-name>
		<url-pattern>/BoardFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BoardListRequest</servlet-name>
		<servlet-class>controller.BoardListRequest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardListRequest</servlet-name>
		<url-pattern>/BoardListRequest</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BoardRequest</servlet-name>
		<servlet-class>controller.BoardRequest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardRequest</servlet-name>
		<url-pattern>/BoardRequest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowContent</servlet-name>
		<servlet-class>controller.ShowContent</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ShowContent</servlet-name>
		<url-pattern>/ShowContent</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateContentViews</servlet-name>
		<servlet-class>controller.UpdateContentViews</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateContentViews</servlet-name>
		<url-pattern>/ContentViews</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmailVerificationAction</servlet-name>
		<servlet-class>controller.EmailVerificationAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EmailVerificationAction</servlet-name>
		<url-pattern>/EmailVerification</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckEmailAuthToken</servlet-name>
		<servlet-class>controller.CheckEmailAuthToken</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CheckEmailAuthToken</servlet-name>
		<url-pattern>/CheckEmailAuthToken</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BoardUpdateFormAction</servlet-name>
		<servlet-class>controller.BoardUpdateFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardUpdateFormAction</servlet-name>
		<url-pattern>/BoardUpdateFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BoardUpdateRequest</servlet-name>
		<servlet-class>controller.BoardUpdateRequest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardUpdateRequest</servlet-name>
		<url-pattern>/BoardUpdateRequest</url-pattern>
	</servlet-mapping>


	<!-- JSP 페이지 맵핑 -->
	<servlet>
		<servlet-name>content</servlet-name>
		<jsp-file>/views/content.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>content</servlet-name>
		<url-pattern>/content</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteUserForm</servlet-name>
		<jsp-file>/views/deleteUserForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>deleteUserForm</servlet-name>
		<url-pattern>/leave</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>joinForm</servlet-name>
		<jsp-file>/views/joinForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>joinForm</servlet-name>
		<url-pattern>/join</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginForm</servlet-name>
		<jsp-file>/views/loginForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginForm</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateUserForm</servlet-name>
		<jsp-file>/views/updateUserForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>updateUserForm</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>passwordFind</servlet-name>
		<jsp-file>/views/passwordFind.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>passwordFind</servlet-name>
		<url-pattern>/find</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>duplNickname</servlet-name>
		<jsp-file>/views/duplNickname.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>duplNickname</servlet-name>
		<url-pattern>/duplN</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>main</servlet-name>
		<jsp-file>/views/main.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>writeBoard</servlet-name>
		<jsp-file>/views/writeBoard.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>writeBoard</servlet-name>
		<url-pattern>/writeBoard</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>boardList</servlet-name>
		<jsp-file>/views/boardList.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>boardList</servlet-name>
		<url-pattern>/boardList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>boardComment</servlet-name>
		<jsp-file>/views/boardComment.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>boardComment</servlet-name>
		<url-pattern>/boardComment</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>boardUpdate</servlet-name>
		<jsp-file>/views/boardUpdate.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>boardUpdate</servlet-name>
		<url-pattern>/boardUpdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>boardView</servlet-name>
		<jsp-file>/views/boardView.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>boardView</servlet-name>
		<url-pattern>/boardView</url-pattern>
	</servlet-mapping>

</web-app>

